
* {
    margin: 0;
    padding: 0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
}
body {
    margin: auto auto;
    overflow: hidden;
    background-color: #ccc;
}
#w {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: top;
}

/* bg panel */
#panel {
    display: flex;
    background-color: white;
    border-radius: 90px;
    width: 95%;
    height: 95%;
    margin-top: 5%;
    flex-flow: column;
    overflow: hidden;
}

h1 {
    margin: 1em auto;
    font: 80px 'Arial Black'; /* ,sans-serif'; */
}

h2 {
    margin: 1em auto;
    font-size: 60px;
}

#choice {
    display: flex;
    justify-content: center;
    margin: 1em;
    font: 60px 'Arial';
}

#choicewrapper {
    margin: 10em auto;
    display: block;
    background-color: mintcream;
    width: 60%;
    height: 50%;
    border-radius: 90px;
}

#choicepic {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 90px;

    transition: all .1s ease-in-out;
}

.rotated90 {
    transform:rotate(90deg);
}

@media screen and (orientation: landscape) {
    /* not happy */
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}